// Animated Background
@import 'animated_background';

@font-face {
  font-family: 'tetris';
  src: url('./fonts/tetris.eot?#iefix') format('embedded-opentype'),
    url('./fonts/tetris.eot'), url('./fonts/tetris.woff') format('woff'),
    url('./fonts/tetris.ttf') format('truetype'),
    url('./fonts/tetris.svg#svgFontName') format('svg');
}
$tetris: 'tetris', sans-serif;

$height: 3em;
$width: $height;

#root {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
    font-family: $tetris;
    letter-spacing: 0.2em;
  }
  position: fixed;
  width: 98%;
  height: 98%;
  display: flex;
  text-transform: lowercase;
  color: white;
  // padding: 1em;
  /* margin: 1em; */
  /* border: 1px solid lightgrey; */
}

.app {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.5em;
  margin: 0 auto;
  border: 1px solid lightgray;

  .game-wrapper {
    border: 1px solid red;
    display: flex;
    justify-content: center;

    .left-block,
    .right-block {
      display: flex;
      flex-flow: column wrap;
      border: 1px solid yellow;
      flex: 2;
      justify-content: space-between;
    }

    .board {
      border: 1px solid yellow;
      display: block;
      // margin: 2em;
      border: 1px solid grey;
      width: fit-content;
      height: auto;

      .row {
        display: flex;
        width: $width * 10;
        height: $height;
        .hub {
          width: $width;
          height: $width;
          // border: unset;
        }
        .figure {
          border: 2px solid black;
        }
      }
    }
  }

  .right-block {
    border: 1px solid yellow;
  }

  .simpletimer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    opacity: 0.4;
    color: grey;
    font-size: 12px;
  }
}

// Next figure component
.next-figure {
  display: block;
  margin: 1em;
  // border: 1px solid red;
  width: fit-content;
  height: auto;

  .row {
    display: flex;
    width: auto;
    height: auto;
    .hub {
      width: 20px;
      height: 20px;
      // border: unset;
    }
    .figure {
      border: 2px solid black;
    }
  }
}

// controls
.controls {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  // width: 100%;

  .control-twist,
  .control-left,
  .control-down,
  .control-right {
    position: relative;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1em;
    .arrow {
      display: block;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      font-size: 2em;
      position: relative;
      top: 0.3em;
    }
    .text {
      text-emphasis: center;
    }
  }

  .control-twist {
    flex: 1 100%;
    flex-flow: wrap;
  }
  .control-left {
    flex: 3;
    span {
      transform: rotate(-45deg);
    }
  }
  .control-down {
    flex: 3;
    span {
      transform: rotate(-135deg);
    }
  }
  .control-right {
    flex: 3;
    span {
      transform: rotate(135deg);
    }
  }
}

// intro part
.intro {
  text-align: center;
  margin: 1em;

  .intro-input {
    background: transparent;
    border: 1px solid red;
    width: 100%;
    color: red;
    padding: 1em;
    font-size: 2em;
    text-transform: lowercase;
    text-align: center;
  }

  .start-game {
    font-size: 2em;
    border: none;
    background: #ff000033;
    width: 100%;
    padding: 1em;
    color: white;
    margin: 1em 0;
    &:hover {
      cursor: pointer;
    }
  }

  .triangle-up {
    width: 2em;
    height: 2em;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid #ff0000a1;
    transform: scale(30);
    animation: bounce alternate 0.5s infinite;
    margin: 0 auto;
  }

  @keyframes bounce {
    from {
      transform: translateY(1em);
    }
    to {
      transform: translateY(2em);
    }
  }
}

// DIsplay COmponent
.display {
  margin: 1em;
  min-width: 10em;
  .title {
    font-weight: 600;
    margin-bottom: 1em;
  }
  .content {
    box-shadow: 1px 1px 5px 1px;
    padding: 1em;
    div {
      text-align: center;
      color: red;
      font-size: 3em;
      margin: 0;
      letter-spacing: unset !important;
    }
  }
}

.start-stop {
  min-width: 10em;
  min-height: 5em;
  background: transparent;
  color: white;
  line-height: 1.5em;
  padding: 0.5em;
}
